/* General styles */
body {
    text-align: center;
    background-color: aquamarine;
    padding-bottom: 50px;
}

div {
    padding-bottom: 30px;
}

.correct {
    background: green;
}

.wrong {
    background: red;
}