/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');

/* Colors */
:root {
    --black: rgb(0, 0, 0);
    --darkgrey: #4C4E52;
    --blue: #6BCAD3;
    --white: rgb(255, 255, 255);
    --yellow: rgb(249, 248, 113);
    --red: #DD4159;
    --green: #008752;
}

/* General styles */
body {
    text-align: center;
    font-family: 'Dongle', sans-serif;
    font-size: 26px;
    line-height: 1.5rem;
    background-color: var(--darkgrey);
}

.hide {
    display: none;
}

h1 {
    color: var(--blue);
    margin-top: 0;
    margin-bottom: 10px;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h3 {
    color: var(--red)
}

img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.page {
    background-color: var(--white);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 20px 10px;
    border-radius: 15px;
}

.correct {
    background: var(--green);
}

.wrong {
    background: var(--red);
}

.progress {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
    background-color: var(--yellow);
}

.q_num {
    float: left;
}

.score {
    float: right;
}

.question {
    margin-bottom: 15px;
}

/* Button styles */
.btn,
.answer_btn {
    border: 3px solid var(--black);
    margin-bottom: 5px;
    font-family: 'Dongle', sans-serif;
    font-size: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    width: 45%;
}

.answer_btn {
    width: 90%;
}

.answer_btn:hover:not([disabled]) {
    background: var(--yellow);
}

.answer_btn[disabled] {
    color: var(--black);
}

.play_btn,
.next_btn {
    background-color: var(--blue);
}

.instr_btn {
    background-color: var(--yellow);
}

.exit_btn {
    border: none;
    background-color: var(--white);
    font-size: 1.5rem;
    float: left;
}

.note {
    margin: 10px auto 5px auto;
}

.comment {
    margin-bottom: 15px;
}

.gif {
    margin-bottom: 15px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .page {
        width: 80%;
        padding: 30px 30px 30px 30px;
    }

    body {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    h1 {
        font-size: 6rem;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    img {
        margin-top: 30px;
        width: 20%;
    }

    .question {
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .gif {
        height: 250px;
        width: auto;
        margin-bottom: 0;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .page {
        width: 40%;
    }

    body {
        font-size: 2rem;
        line-height: 1.8rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    img {
        margin-top: 30px;
        width: 10%;
    }

    .question {
        margin-top: 50px;
        margin-bottom: 30px;
    }

}